<h2 style="text-align: center;">Lista de Produtos</h2>
<style>
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  th,
  td {
    text-align: left;
    padding: 12px;
  }

  th {
    background-color: #00a8ff;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
</style>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.id }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.preco }}</td>
    </tr>
  </tbody>
</table>
